
<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.com">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Fashion Products</title>
    <style>
 		
 		body{
 		background-color:#bda24f;
		}
		
		.card{
		height:500px;
		
		}

 
    </style>
    
    
  </head>
  
  
    <header>
  	
  	<nav class="navbar navbar-expand-lg navbar-light bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand"  href="#"><img src="https://tse3.mm.bing.net/th?id=OIP.Qhi_A-CvFkjp1jMSwwOpRgHaHa&pid=Api&P=0&h=220" class="rounded-circle" height="70px" width="70px"> </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" style ="color:white;" aria-current="page" th:href="@{/home}">Home</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link active" style="color:white;" aria-current="page" th:href="@{/about}">About Us</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link active" style="color:white;" aria-current="page" th:href="@{/showreviews}">Review</a>
        </li>
        
      </ul>
        <li class="nav-item">
          <a class="nav-link active" style="color:white;" aria-current="page" th:href="@{/visitprofile}"><i class="fa-solid fa-bars"></i></a>
        </li>
        
        <li class="nav-item">
        <button type="button" onclick="window.location.href='/logout'" class="btn btn-warning">LogOut</button>
        </li>
          
      
    </div>
  </div>
</nav>
  </header>
 
 
  
  <body>
  
   <div class="row row-cols-1 row-cols-md-2 g-4 mt-4">
  <div class="col">
    <div class="card border-danger">
      <img style="cursor:pointer;" onclick="window.location.href='/mensdata'" src="https://imgmedia.lbb.in/media/2019/11/5dd3b768de22940aace1dbb1_1574156136139.jpg" height="300px" class="card-img-top rounded cursor-pointer" alt="Electronics_image">
      <div class="card-body">
    <h5 class="card-title">Men's Fashion</h5>
    <p class="card-text">Discover the perfect blend of style, comfort, and confidence with our Men’s Fashion collection. From casual wear to formal attire, explore a wide range of trendy clothing, shoes, watches, and accessories designed to elevate your look. Whether you're dressing for the office, a party, or a weekend getaway, we’ve got you covered with fashion-forward pieces that reflect your personality and keep you ahead of the style curve.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card border-danger">
      <img  style="cursor:pointer;" onclick="window.location.href='/womensdata'" src="https://thumbs.dreamstime.com/z/three-dressed-mannequins-standing-store-casual-women-s-clothing-mall-boutique-fashion-shopping-people-ukraine-266570002.jpg" height="320px" class="card-img-top rounded" alt="fashion">
      <div class="card-body">
        <h5 class="card-title">Women's Fashion</h5>
        <p class="card-text">Step into a world of elegance and versatility with our exclusive Women’s Fashion range. Choose from a stunning selection of sarees, kurtis, dresses, tops, jeans, ethnic sets, and much more. Whether it’s a festive celebration or everyday comfort, our outfits are crafted to bring out your inner diva. Complete your look with the latest accessories, bags, and footwear for a head-turning appearance every time you step out</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card border-danger">
      <img style="cursor:pointer;" onclick="window.location.href='/kidsdata'" src="https://tse4.mm.bing.net/th?id=OIP.yZ4998ZdtBakpNI4gqK1zAHaFW&pid=Api&P=0&h=220" height="250px" class="card-img-top rounded" alt="HomeAndKitchen">
      <div class="card-body">
        <h5 class="card-title">Kids Wear</h5>
         <p class="card-text">Let your little ones shine in style with our adorable and comfortable Kids Wear collection. Designed for fun, movement, and cuteness overload, we offer a variety of colorful clothes for boys and girls – from everyday essentials like t-shirts, frocks, and shorts to special occasion outfits. Soft fabrics, playful prints, and durable designs make our kids' fashion both parent-approved and kid-loved.</p>
      </div>
    </div>
  </div>
  
   
</div>
  
 <footer class="text-center text-lg-start mt-5 border-top" style="background-color:#232F3E">
  <div class="container p-4 text-light">
    <div class="row">
      <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
        <h5 class="text-uppercase">SwiftKart</h5>
        <p>
          Making the online shopping available all the time...
        </p>
      </div>

      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase">Links</h5>
        <ul class="list-unstyled mb-0 ">
          <li><a th:href="@{/home}" class="text-light text-decoration-none">Home</a></li>
          <li><a th:href="@{/about}" class="text-light text-decoration-none">About</a></li>
          <li><a th:href="@{/userpanel}"  class="text-light text-decoration-none">Services</a></li>
          <li><a th:href="@{/about}" class="text-light text-decoration-none">Contact</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="text-center p-3 bg-secondary text-white">
    © 2025 SwiftKart
  </div>
</footer>


  
    
  </body>
  
  </html>
