<!doctype html>
<html lang="en" xmlns:th="https:www.thymeleaf.org">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Ordered Products</title>
    
   
  </head>
  
  
   <header>
  	
  	<nav class="navbar navbar-expand-lg navbar-light bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand"  href="#"><img src="https://tse3.mm.bing.net/th?id=OIP.Qhi_A-CvFkjp1jMSwwOpRgHaHa&pid=Api&P=0&h=220" class="rounded-circle" height="70px" width="70px"> </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" style ="color:white;" aria-current="page" th:href="@{/home}">Home</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link active" style="color:white;" aria-current="page" th:href="@{/about}">About Us</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link active" style="color:white;" aria-current="page" th:href="@{/showreviews}">Review</a>
        </li>
        
      </ul>
        <li class="nav-item">
          <a class="nav-link active" style="color:white;" aria-current="page" th:href="@{/visitprofile}"><i class="fa-solid fa-bars"></i></a>
        </li>
        
        <li class="nav-item">
        <button type="button" onclick="window.location.href='/logout'" class="btn btn-warning">LogOut</button>
        </li>
          
      
    </div>
  </div>
</nav>
  </header>
 
 
  <br><br>
<body>
	
	<form th:each="p1:${list}">
	
	<div th:if="${message}">
    <p style="color: red; font-weight: bold;" th:text="${message}"></p>
</div>
  
  <div style="border:1px solid black; height:400px" class="p-4">
  
  
  
  <!--  
  <div class="mb-3">
    <label class="form-label">Customer Id</label>
    <input type="number" value="id" readonly="readonly" th:value="${p1.id}">
   </div>
   
  <div class="mb-3">
    <label class="form-label">Contact</label>
    <input type="number" value="address" readonly="readonly" th:value="${p1.contact}">
  </div>
  
  
  <div class="mb-3">
    <label class="form-label">Customer Name</label>
    <input type="text" value="name" readonly="readonly" th:value="${p1.name}">
  </div>
  
  <div class="mb-3">
    <label class="form-label">Customer Address</label>
    <input type="text" value="address" readonly="readonly" th:value="${p1.address}">
  </div>
  
  
  <div class="mb-3">
    <label class="form-label">Product Name</label>
    <input type="text" value="address" readonly="readonly" th:value="${p1.hname}">
  </div>
  
  <div class="mb-3">
    <label class="form-label">Product Prize</label>
    <input type="number" value="address" readonly="readonly" th:value="${p1.hprice}">
  </div>
  
  <div class="mb-3">
    <label class="form-label">Description</label>
    <input type="text" value="address" readonly="readonly" th:value="${p1.descr}">
  </div>
  
  -->
  <div class="mb-3">
    <label class="form-label fw-bold">Customer Id :</label>
    <input type="hidden" name="id" readonly="readonly" th:value="${p1.id}">
     <span th:text="${p1.id}"></span>
    
 </div>
 
 <div class="mb-3">
    <label class="form-label fw-bold">Contact :</label>
    <span th:text="${p1.contact}"></span>
  </div>
  
  
  <div class="mb-3">
    <label class="form-label fw-bold">Customer Name :</label>
    <span th:text="${p1.name}"> </span>
  </div>
  
  <div class="mb-3">
    <label class="form-label fw-bold">Customer Address :</label>
    <span th:text="${p1.address}"> </span>
  </div>
  
  
  <div class="mb-3">
    <label class="form-label fw-bold">Product Name :</label>
    <span th:text="${p1.hname}"> </span>
  </div>
  
  <!-- 
  
  <div class="mb-3">
    <label class="form-label fw-bold">Product Prize :</label>
    <span th:text="${p1.hprice}"> </span>
  </div>
   -->
  
  <div class="mb-3">
    <label class="form-label fw-bold">Date :</label>
    <span th:text="${p1.date}"> </span>
  </div>
  
  <div class="mb-3">
    <label class="form-label fw-bold">Description :</label>
    <span th:text="${p1.descr}"> </span>
  </div>
  
  <div class="mb-3" th:if="${#dates.createNow().time > p1.date.time}">
  	<a th:href="@{/returnform(id=${p1.id})}">Return</a>
  	<a th:href="@{/reviewform(id=${p1.id})}">Review</a>
  	
  </div>
  
  </div>
</form>
	




</body>

</html>
